@model EmployeeManagement.ViewModels.HomeDetailsVeiwModel



<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h3>@Model.pageTitle</h3>
        <div>
            Name: @Model.employee.Name
        </div>
        <div>
            Email: @Model.employee.Email
        </div>
        <div>
            Department: @Model.employee.Department
        </div>

    </body>
</html>